*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #febd69;
    --color-232f3e: #232f3e;
    --color-bf4800: #bf4800;
    --color-f5f5f7: #f5f5f7;
    --color-ededed: #ededed;
    --color-777777: #777777;
    --color-1c1c1b: #1c1c1b;
  }
  .section-heading{
    font-style: 26px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .card-wrapper{
    background-color: #fff;
    box-shadow: 0 0 10px #0000001a;
    padding: 15px;
  }
  body{
    font-family: 'Rubik', sans-serif;
  }
  
  a{
    text-decoration: none;
    display: inline-block;
  }
  
  .form-control:focus{
    box-shadow: none;
    border-color: inherit;
  }
  
  .gap-10{
    gap: 10px;
  }
  
  .gap-15{
  gap:15px
  }
  .gap-30{
    gap:30px
    }
  
    .button{
      background-color: var(--color-232f3e);
      color:white;
      font-size: 14px;
      padding: 13px 33px;
      border-radius: 25px;
    }
  
    .button:hover{
      background-color: var(--color-febd69);
      color: var(--color-131921);
    }
  /* Header part */
  .header-top-strip{
    border-bottom: 1px solid var(--color-3b4149);
    background-color: var(--color-131921);
  }
  
  .header-upper{
    background-color: var(--color-131921);
  
    .input-group-text{
      background-color: var(--color-febd69);
    }
  
    .header-upper-links img{
      width: 35px;
      height: 35px;
   } 
  }
  
  .header-bottom{
    background-color: var(--color-232f3e);
  
    .menu-links a, .dropdown button{
      color: white;
      font-style: 14px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.3;
      text-transform: uppercase;
      }
  
      .dropdown button:focus{
        box-shadow: none;
      
      }
  
      .dropdown-menu{
        background-color: var(--color-131921);
        width: 100%;
        transform: translate3d(0px, 57px, 0px) !important;
      }
  
  
      .dropdown-item{
        padding: 20px;
        margin-bottom: 3px;
        border-bottom: 1px solid var(--color-3b4149);
      }
  
      .dropdown-item:hover{
        background-color: transparent;
        color: var(--color-febd69) !important;
      }
      
  }
  /* Header part end here */
  
  /* Footer part */
  footer{
    background-color: var(--color-232f3e);
    .input-group-text{
      background-color: var(--color-232f3e);
      color:white;
      padding: 8px 17px;
    }
  }
  /* footer:nth-child(3){
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  } */
  
  footer:not(:first-child){
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  /* Footer part end here */
  
  /* Home Page */
  .main-banner-content{
    top:15%;
    // left: 10%;
    // top:15%;
    left: 5%;
  
    h4{
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-bf4800);
      margin: 0 0 12px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      }
  
      h5{
        font-size: 42px;
        font-weight: 500;
        line-height: 64px;
        letter-spacing: -2px;
        text-transform: none;
        }
  
        p{
          font-size: 18px;
          font-weight: 500;
          line-height: 28px;
          letter-spacing: 0.4px;
          color: var(--color-131921);
          }
  }
  
    /* small banner */
    .small-banner-content{
      top:25%;
      left: 10%;
  
      h4{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: var(--color-bf4800);
        margin: 0 0 12px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        }
  
        h5{
          font-size: 22px;  
          line-height: 34px;
          letter-spacing: -2px;
          font-weight: 500;
          text-transform: none;
          }
  
          p{
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.4px;
            color: var(--color-131921);
            }
        
    }
    
      .small-banner {
        width: 48%;
      }
  
      /* Home wrapper 2 */
      .home-wrapper-2{
        background-color: var(--color-f5f5f7);
      }
      /* Home wrapper 2 end */
  
      /* categories section */  
      .categories {
        background-color: white;
        box-shadow: 0 0 10px #0000001a;
        padding: 15px;
      }
      .categories > div {
        width: 25%;
        padding: 10px 10px 10px 20px;
      }
      .categories > div > div {
        width: 60%;
      }
      .categories > div:nth-child(1),
      .categories > div:nth-child(2),
      .categories > div:nth-child(3),
      .categories > div:nth-child(4) {
        border-bottom: 1px solid var(--color-ededed);
      }
      .categories > div:nth-child(1),
      .categories > div:nth-child(2),
      .categories > div:nth-child(3) {
        border-right: 1px solid var(--color-ededed);
      }
      .categories > div:nth-child(5),
      .categories > div:nth-child(6),
      .categories > div:nth-child(7) {
        border-right: 1px solid var(--color-ededed);
      }
      /* categories section  end*/
  
  /* Home Page End */
  
      /* Blog section */
      .blog-card{
        background-color: #fff;
        /* padding: 20px; */
        border-radius: 10px;
        img{
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
  
      .blog-content{
        padding: 15px;
  
        p.date{
          font-style: 13px;
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 0;
          font-weight: 400;
          color: var(--color-777777);
          padding: 0px;
        }
  
        h5{
          font-size: 18px;
          color: var(--color-131921);
        }
  
        p.desc{
          font-style: 13px;
          line-height: 22px;
          color: var(--color-777777);
    
        }
      }
  
      /* Blog end */
  
      /* Product card  */
      .product-card{
        padding: 15px;
        background-color: #fff;
        border-radius: 15px;
        overflow: hidden;
        width: 100%;
        .product-image{
          height: 270px;
  
          img{
            object-fit: contain;
          }
  
        }
  
        .product-image>img:last-child{
          display: none;
        }
  
  .product-details{
    h6{
      color: var(--color-bf4800);
      font-size: 13px;  
    }
    h5{
      font-size: 15px;  
      color: var(--color-1c1c1b);
  
    }
    p.price{
      font-size: 16px;  
      color: var(--color-1c1c1b);
  
    }
  }
    .description{
      color: #777777;
      margin-right: 20px;
      font-size: 13px;
    }
  }
      .product-card:hover{
        .product-image>img:nth-child(1){
          display: none;
        }
        .product-image>img:last-child{
          display: block;
        }
        .action-bar{
          right: 15px;
        }
      } 
  
      .action-bar{
        top: 10%;
        right: -23px;
        transition: 0.3s;
      }
  
      .wishlist-icon{
        top: 2%;
        right: 15px;
  
      }
  /* Special Product */
  
  .special-product-card {
    padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
  }
  
  /* Special Product ends here */
  
  /* Famous Product */
  .famous-card {
    .famous-content{
    top: 10%;
    left: 5%;
  
    h5{
      line-height: 20px;
      font-size: 13px;
      font-weight: 400px;
      margin-bottom: 7px;
      color: #fff;
      text-transform: uppercase;
      }
  
      h6{
        line-height: 38px;
        font-size: 28px;
        font-weight: 500px;
        color: #fff;
      }
  
      p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 100px;
        color: #fff;
        }
    }
  
    img{
    border-radius: 10px;
    }
  }
  /*End Famous Product */
  
  // Product page (Our store)
  .filter-part{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 15px 25px;
  ul, .form-check-label{
    list-style-type:none;
    font-style: 12px;
    line-height: 20px;
    color: var(--color-777777);
    cursor: pointer;
  }
  
  .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
  }
  .form-check-input:checked{
  // background-color: var(--color-febd69);
  background-color: yellow;
  border-color: rgba(0, 0, 0, 0.25);
  }
  }
  
  .filter-title{
    font-size: 16px;
    line-height: 20px;
    color: var(--color-1c1c1b);
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .sub-title{
    font-size: 14px;
    color: var(--color-1c1c1b);
    margin-bottom: 15px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .colors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   li{
      width: 20px;
      background-color: red;
      height: 20px;
      border-radius: 50%;
      }
  }
  
  .suggest-products{
    h5{
      font-size: 14px;
      margin-bottom: 8px
    }
  
  
  }
  .suggest-products:first-child{
    border-bottom: 1px solid var(--color-ededed);
  }
  
  .filter-sort-grid{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
  }
  .grid{
    img{
      width: 35px;
      height: 35px;
      background-color: #edebeb;
      border-radius: 2px;
      padding: 8px;
      cursor: pointer;
    }
  }
  
  .gr-3{
    width: 24%;
  }
  
  .gr-4{
    width: 33%;
  }
  
  .gr-6{
    width: 49%;
    .product-image{
      width: 100%;
      .img{
        margin: auto;
        display: block;
      }
    }
  }
  
  .gr-12{
    width: 100%;
    .product-card{
      display: flex;
      gap: 20px;
      .product-image{
        width: 270px;
        height: auto;
      }
    }
  
    .action-bar{
      top: 15%;
    }
  }
  // Product page end
  
  // Contact part
  .contact-with-wrapper{
    padding: 20px 20px;
    background-color: #fff;
    gap: 15px;
    border-radius: 15px;
  
    .contact-title{
      font-weight: 500;
      font-size: 26px;
      line-height: 35px;
      text-align: left;
    }
    
    form{
      .form-control{
        background-color: var(--color-f5f5f7);
        border-radius: 10px;
        border-color: transparent;
        padding: 10px;
      }
    }
  
    ul{
      list-style-type: none;
    }
  
    address, a, p{
    // color: var(--color-777777);
    color: #000;
    }
  }
  .contact-with-wrapper>div{
    width: 48%;
  }
  
  
  // Contact end
  
  
  // Login auth card
  .auth-card{
    padding: 20px;
    background-color: white;
    width: 500px;
    margin: 30px auto;
    border-radius: 10px;
    h3{
      color: var(--color-777777);
      font-size: 19px;
      font-weight: 500;
    }
  
    p {
      font-size: 13px;
      color: var(--color-777777);
    }
    a {
      font-size: 14px;
      font-weight: 400;
      color: var(--color-1c1c1b);
    }
  
   .form-control {
      height: 50px;
      background-color: var(--color-f5f5f7);
      color: var(--color-777777);
      font-size: 14px;
      border-radius: 10px;
      border-color: transparent;
    }
  }
  
  .signup {
    background-color: var(--color-febd69);
    color: var(--color-131921);
    border: none;
  }
  .signup:hover {
    background-color: var(--color-131921);
    color: white;
  }
  //End login auth card 
  
  /* Policy Pages */
  .policy {
    background-color: white;
    padding: 30px;
  }
  /* Policy Pages  ends */
  
  
  /* Main Product Page */
  .description-wrapper{
    h4{
    font-size: 26px;
    color: #1c1c1b;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: var(--color-777777);
    }
  }
  
  .reviews-wrapper h3 {
    font-size: 26px;
    color: #1c1c1b;
    margin-bottom: 10px;
  }
  
  .review-head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  
    h4 {
      font-size: 18px;
      color: var(--color-1c1c1b);
    }
  
    p, a {
    font-size: 14px;
    color: var(--color-777777);
  }
  }
  
  .review-inner-wrapper {
    background-color: white;
    padding: 30px;
  }
  
  .review:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .review-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  }
  
  .main-product-image {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  
    img {
      width: 100% !important;
      height: 600px !important;
      object-fit: cover;
    }
  
    .js-image-zoom__zoomed-image {
      left: 50px !important;
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      z-index: 1000;
    }
  }
  
  .main-product-image > div {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  
  .other-product-images {
    background-color: white;
    padding: 20px;
  }
  
  .other-product-images > div {
    padding: 20px;
    width: 48%;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  
  .main-product-details {
    padding: 30px 20px;
    background-color: white;
    border-radius: 10px;
  
    h3.title {
      font-size: 18px;
      font-weight: 600;
      color: var(--color-1c1c1b);
      margin-bottom: 10px;
    }
  
    p.price {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  
    a.review-btn,
  .t-review {
    color: var(--color-777777);
    font-size: 13px;
  }
  a {
    font-size: 14px;
    color: var(--color-777777);
  }
  
  .product-heading {
    font-size: 14px;
    color: var(--color-1c1c1b);
    margin-bottom: 0px;
  }
  
  .product-data {
    font-size: 13px;
    columns: var(--color-777777);
    margin-bottom: 0px;
  }
  }
  /* Main Product Page */
  
  // cart 
  .cart-header{
    border-bottom: 1px solid #eaeaea;
    h4 {
      font-size: 13px;
      color: var(--color-777777);
    }
  }
  
  .cart-data {
    border-bottom: 1px solid #eaeaea;
    h5.price {
      font-size: 14px;
      color: var(--color-1c1c1b);
    }
  }
  .cart-col-1 {
    width: 40%;
    p {
      color: var(--color-777777);
      font-size: 14px;
    }
  }
  
  .cart-col-2 {
    width: 10%;
  }
  .cart-col-3 {
    width: 15%;
  }
  .cart-col-4 {
    width: 15%;
  }
  // cart end
  
  
  // shipping
  .total {
    font-size: 14px;
    color: var(--color-1c1c1b);
  }
  .total-price {
    font-size: 16px;
    color: var(--color-777777);
  }
  //end shipping
  